@media (min-width: 1200px) {
    .container{ max-width: 970px; }
}
body { font-family: Palatino, "Palatino Linotype", Georgia, serif; }
h1 { margin-top: 10pt; }
h2 { margin-top: 15pt; border-bottom: 1px solid #CCC; }
